.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
}

.course-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: var(--shadow-hover);
}

.course-card-footer {
    background-color: var(--color-background);
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
